.content-info {

  &.content-info__container {
    display: flex;
    flex: 1 0 100%;
    flex-flow: row wrap;
  }

  &.content-info__title-wrapper {
    flex: 1 0 100%;
  }

  &.content-info__image-wrapper {
    flex: 1 0 100%;

    img {
      position: relative;
      display: block;
      width: 100%;
    }
  }
}
