.content-info {

  &.content-info__container {
    background: #282c34;
    display: flex;
    flex: 1 1 100%;
    flex-flow: row wrap;
    box-shadow: 0 0 20px -5px #111312;
    border-radius: 3px;
    padding: 10px;
    margin-top: 30px;
  }

  &.content-info__title-wrapper {
    flex: 1 0 100%;

    a {
      text-decoration: none;
      color: #fafafa;
      transition: color .2s linear;

      &:hover {
        color: #61dafb;
      }
    }

    h3 {
      color: #fafafa;
    }
  }

  &.content-info__image-wrapper {
    flex: 1 0 100%;

    img {
      position: relative;
      display: block;
      width: 100%;
    }
  }
}
